@use 'sass:color';

$primary-color: #281286;

.navbar__container,
.content__container{
	background-color: $primary-color;
}

:host::ng-deep p-menubar {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.navbar__home{
  border-bottom: 1px solid #fff;
}

.navbar-brand:hover {
  color: color.scale(#fff, $lightness: -20%) !important;
}

:host::ng-deep p-menu div{
  background-color: #fff;
  color: black;
}

:host::ng-deep p-menu div {
  inset-inline-start: auto !important;

  ul li span {
    font-size: medium;
  }
}

a,
span{
  font-size: medium;
}

.modal__button{
  width: 7rem;
}

:host::ng-deep p-button.modal__button button {
  width: 100%;
}

:host::ng-deep p-dialog div div{
  background-color: #fff;
  color: black;
}

:host::ng-deep p-button.button_primary button {
  background-color: color.scale($primary-color, $lightness: -20%);
  color: #fff;
  border: 1px solid $primary-color;
}
:host::ng-deep p-button.button_primary button:hover {
  background: color.scale($primary-color, $lightness: -50%) !important;
  color: #fff;
  border: 1px solid color.scale($primary-color, $lightness: -50%);
}

:host::ng-deep p-button.button_secondary button {
  background-color: #fff;
  color: $primary-color;
  border: 1px solid $primary-color;
}
:host::ng-deep p-button.button_secondary button:hover {
  background: color.scale(#ffffff, $lightness: -5%) !important;
  color: black
}

